body{
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header{
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer{
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-style: italic;
    font-size: 16pt;
    text-align: left;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
a{
    color: green;
    text-decoration: none;
    transition: 2s 1s;
}

a:link {
    color: lightcoral;
    opacity: 0.7;
}

a:visited {
    color: blueviolet;
    opacity: 0.7;
}

a:hover {
    color: lime;
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 7px solid goldenrod;
    border-radius: 6px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: wheat;
    box-shadow: 0 0 15px lightseagreen;
}

h1 {
    text-align: center;
}

main {
    margin: 10px 20px 45px;
}
