body{
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header{
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer{
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-style: italic;
    font-size: 16pt;
    text-align: left;
}
a{
    color: green;
    text-decoration: none;
    transition: 2s 1s;
}

a:link {
    color: lightcoral;
    opacity: 0.7;
}

a:visited {
    color: blueviolet;
    opacity: 0.7;
}

a:hover {
    color: lime;
    text-decoration: underline;
}

a:active {
    color: black;
    opacity: 0.3;
}